.page__content {
  min-width: 880px;
  margin: 0 auto;
  flex: 1;
}

@media screen and (max-width: 1023px) {
  .page__content {
    min-width: 648px;
  }
}

@media screen and (max-width: 767px) {
  .page__content {
    min-width: 320px;
  }
}
